*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(168, 76, 221),rgb(74, 189, 183));
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}
.image{
    align-items: center;
    text-align: center;
}
.image img{
    width: 100px;
}
.links{
    padding:25px;
    text-align: center;
    display: grid;
    font-size: 18px;
}
.links img{
    width: 18px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
